iframe{
    width: 100%!important;
    height: 590px!important;
    border-radius: 12px!important;
    border:0px;
 }
 .main{
     width: 100%!important;
     height: 100vh;
     overflow-x: hidden!important;
  }

 .navbar{
            border-bottom: 1px solid black!important;
 }
 .nav-link{
     color: rgb(88, 88, 88)!important;
 }

 .card{
     border: 0px!important;
     border-radius: 12px!important;
 }
 .button{
     background-color:rgb(255, 0, 98)!important;
     color: white;
 }

 .box1{
     width:200px!important;
 }
 .nav-link{
     color:black
 }