.main{
    width:100%;
    height:100vh!important;
    background:white!important;
}

.nav-link{
    color: rgb(22, 22, 22)!important;
}
.logo{
    box-shadow: 0px 0px 8px 0px gray;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100%!important;
    width: 40px!important;
} 

.bbtn img{
    margin-right:0%!important;
    width: 28px!important;
}
.bbtn{
    margin-top: 10px!important;
    border: 1px solid rgb(102, 102, 102);
    border-radius:50px!important;
    width:300px!important;
}

.bbtn2 img{
    margin-right:5%!important;
    width:45px!important;
}
.bbtn2{
    border: 1px solid rgb(102, 102, 102);
    border-radius:50px!important;
    width:300px!important;
} 
.nav-bar{
    position:relative;
    z-index: 1!important;
}


@media (min-width: 320px) { 
       
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 300px!important;
}

 }

@media (min-width: 360px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 300px!important;
}

 }

@media (min-width: 480px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 300px!important;
}

 }

@media (min-width: 576px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 360px!important;
}

 }


@media (min-width: 768px) { 
      
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 390px!important;
}
 }


@media (min-width: 992px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 390px!important;
}
 }


@media (min-width: 1200px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 390px!important;
}
 }

@media (min-width: 1280px) { 
    
form{
    padding:10px 20px ;
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 9px;
    box-shadow: 0px 7px 12px 1px rgba(128, 128, 128, 0.151);
    margin: auto!important;
    width: 390px!important;
}
 }

 h6{
     background:rgb(255, 255, 255);
     width:20px!important;
     height:20px;
     margin: auto;
     position: relative;
     z-index: 1;
 }
 h6:after{
     content: "";
     display: block;
     width:150px;
     height: 1px;
     background:rgba(97, 97, 97, 0.664);
     position: absolute;
     top: 10px;
     left: 21px;
 }
 
 h6:before{
     content: "";
     display: block;
     width:150px;
     height: 1px;
     background:rgba(97, 97, 97, 0.664);
     position: absolute;
     top: 10px;
     
     right:21px!important;
 }

 .inp{
     border: 0px!important;
     border-bottom: 1px solid rgba(128, 128, 128, 0.432) !important;
     border-radius: 0px!important;
     padding: 0px !important;
 }

 ::placeholder{
     color: rgb(0, 0, 0)!important;
 }